.minimal-boxes-4 {
  width: 410px;
  height: 502px;
  background-color: #000;
}
.minimal-boxes-4.narrow {
  width: 402px;
}
.minimal-boxes-4 .box {
  width: 80px;
  height: 24px;
  background-color: #1045a5;
  color: #fff;
}
